@import "tailwindcss";
@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));


@theme {
  --color-main-text: #100D0A;
  --color-main-orange: #D97126;
  --color-button-text: #F5F1EF;
  --color-main-bg: #F5F1EF;
  --color-footer-bg: #DDD8D5;
  --color-footer-text: #5C493D;
  --color-nostar: #E5CAB3;
}

